<!DOCTYPE html>
<html class="no-js" lang="en">
@{
    string title = Model.WithoutSettings.String("Title");
    if (String.IsNullOrEmpty(title)) {
        title = Model.String("SiteName");
    } else {
        title = title + " | " + Model.String("SiteName");
    }
}
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144178251-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-144178251-1');
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@title</title>
  <link rel="stylesheet" href="@Context.GetLink("/assets/css/site.css")" />
  <link rel="shortcut icon" href="@Context.GetLink("/assets/images/favicon.ico")" type="image/x-icon">
  <link rel="icon" href="@Context.GetLink("/assets/images/favicon.ico")" type="image/x-icon">
</head>

<body>
   @Html.Partial("_NavBar")  
  <div class="grid-container full">
    <div class="grid-x align-center">
      <div class="cell large-9 medium-12">
        <div class="main">
          @RenderBody()
        </div>
        <footer>
          @Html.Partial("_Footer")  
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
